{% load static %}
{% load home_tags %}
{% load add_attr %}
{% load i18n %}
{% load markdownify %}

{% for section in page_obj %}
    {% if not section.fetch %}
        <button class="btn-new top-section" disabled>New</button>
    {% endif %}
    <div class="evaluation-title">
        <h1 class="h1-margin-breadcrumbs">Section {{ section.master_section.order_id}} </h1>
        <h3>{{section.master_section.name}}</h3>
        {% include "assessment/section-feedback.html" %}
        <div class="progress progress-section-page" id="section-progress-bar"
             title="{% blocktrans with progression=section.user_progression %}{{ progression }}% is done{% endblocktrans %}">
            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{section.user_progression}}"
                 class="progress-bar progress-bar-section" id="section-progress-bar-content" role="progressbar"
                 style="width: {{section.user_progression}}%;"
                 title="{% blocktrans with progression=section.user_progression %}{{ progression }}% is done{% endblocktrans %}"></div>
        </div>
    </div>

    <div class="section-description" id="section-description">
        {{section.master_section.description|markdownify}}
    </div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <!--    User section notes -->
    <div class="margin-10, margin-bot-50">
        <form action="{{ section.get_absolute_url }}" id="sectionNotes{{section.id}}" method="POST">
            {% csrf_token %}
            {{section_notes_form}}
            <div class="wrapper">
                {% if evaluation.organisation|get_role:user == "admin" or evaluation.organisation|get_role:user == "editor" %}
                    <button class="btn btn-primary same-size-220 margin-10"
                            onclick="submitSectionNotes('sectionNotes{{section.id}}', '{{section.id}}')"
                            title="{% trans 'Save the notes' %}"
                            type="button">{% trans "Save" %}
                    </button>
                {% else %}
                    <button class="btn btn-primary same-size-220" disabled
                            onclick="submitSectionNotes('sectionNotes{{section.id}}', '{{section.id}}')"
                            title="{% trans 'You do not have the right to do this action' %}"
                            type="button">{% trans "Save" %}
                    </button>
                {% endif %}
            </div>
        </form>
        <div class="display-none margin-bot-top-20" id="messageSectionNotes{{section.id}}"></div>
    </div>

    <div class="element">
        <div class="pagination-top margin-bot-30">
            {% include "assessment/pagination.html" %}
        </div>

        <div aria-multiselectable="true" class="accordion" id="accordionExample">
            {% for element in element_list %}
                <div class="card">
                    <div class="card-header row grid-container-3-cols " id="heading{{element.id}}">
                        <div aria-controls="collapse{{element.id}}"
                             aria-expanded="true"
                             class="display-line div-button"
                             data-target="#collapse{{element.id}}"
                             id="collapsible{{element.id}}"
                             data-toggle="collapse">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left " type="button">
                                    Q{{section.master_section.order_id}}.{{element.master_evaluation_element.order_id}} :
                                    {{element.master_evaluation_element.name|markdownify}}
                                </button>
                            </h2>

                            {% if not element.fetch %}
                                <button class="btn-new" disabled>New</button>
                            {% endif %}
                        </div>

                        {% include "assessment/element-feedback.html" %}
                        <div class="margin-auto">
                            <span class="fa-stack-evaluation fa-stack fa-lg"
                                  name="element_status_temporary{{element.id}}"
                                  style="display: none;"
                                  title="">
                            </span>

                            {% if element.status %}
                                <span class="fa-stack-evaluation fa-stack fa-lg " name="element_status_done{{element.id}}"
                                      title="{% trans 'You have already answered to this evaluation element' %}">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                </span>

                            {% elif not element.status %}
                                {% if element.has_condition_on and element|is_not_applicable %}
                                <span class="fa-stack-evaluation fa-stack fa-lg answer" name="element_status_invalid{{element.id}}"
                                      title="{% trans 'You are not concerned by this evaluation element due to your answer to this evaluation element' %} {{depends_on_dic|get_item:element}}">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                </span>

                                {% else %}
                                    <span class="fa-stack-evaluation fa-stack fa-lg answer" name="element_status_not_done{{element.id}}"
                                          title="{% trans 'You have not yet answered to this evaluation element' %}">
                                          <i class="fa fa-circle-o fa-stack-2x"></i>
                                    </span>
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>

                    <div aria-labelledby="heading{{element.id}}" class="collapse" id="collapse{{element.id}}">
                        <form action="{{ section.get_absolute_url }}" element="{{element}}" id="form{{element.id}}"
                              method="POST" name="{{element.id}}">
                            {% csrf_token %}
                            <div class="card-body">

                                <div class='alert alert-warning' id="temp_warning{{element.id}}" style="display:none;">
                                    {% trans "This evaluation element is not applicable due to your previous answers" %}
                                </div>

                                {% if element.has_condition_on and element|is_not_applicable %}
                                    <div class='alert alert-warning' id="warningmessage{{element.id}}">
                                        {% blocktrans %}
                                        You are not concerned by this evaluation element due to your answer to this
                                        evaluation element
                                        {% endblocktrans %} {{depends_on_dic|get_item:element}}
                                    </div>
                                {% endif %}

                                <div class="sub-question-headers grid-container-2-cols row margin-left-em" id="question-text">
                                    <div class="question-name" id="question-name">
                                        {{element.master_evaluation_element.question_text|markdownify}}
                                    </div>
                                    {% if element.master_evaluation_element.explanation_text %}
                                    <div class="help-tip help-tip-explanation larger-tablet-absolute-position">
                                        <p>{{element.master_evaluation_element.explanation_text|markdownify}}</p>
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="choices" id="{{element}}">
                                    {% if element.master_evaluation_element.question_type == "radio" %}
                                        <p class="italic margin-bottom-1em">
                                            {% blocktrans %}
                                                Please select one answer which best matches to your organisation situation.
                                            {% endblocktrans %}
                                        </p>
                                    {% elif element.master_evaluation_element.question_type == "checkbox"%}
                                        <p class="italic margin-bottom-1em">
                                            {% blocktrans %}
                                                Please select all the answers which best match to your organisation situation.
                                                Be careful, some combinations are not coherent.
                                            {% endblocktrans %}
                                        </p>
                                    {% endif %}

                                    {% if evaluation.organisation|get_role:user == "admin" or evaluation.organisation|get_role:user == "editor" %}
                                        {% if element.has_condition_on and element|is_not_applicable %}
                                        <fieldset disabled id="disable_element_{{element.id}}">
                                            {{ dic_form|get_item:element }}
                                        </fieldset>
                                        {% else %}
                                        <fieldset id="disable_element{{element.id}}">
                                            {{ dic_form|get_item:element }}
                                        </fieldset>
                                        {% endif %}
                                    {% else %}
                                        <fieldset disabled>
                                            {{ dic_form|get_item:element }}
                                        </fieldset>
                                    {% endif %}

                                    <!-- Reset the answers -->
                                    {% if evaluation.organisation|get_role:user == "admin" or evaluation.organisation|get_role:user == "editor" %}
                                        {% if element.has_condition_on and element|is_not_applicable %}
                                            <a class="reset-response float-right remove-smaller-than-small-screen"
                                               id="reset_{{element.id}}"
                                               title="Inactive">
                                                {% trans "Reset the answer" %}</a>
                                        {% else %}
                                            <a class="reset-response float-right" id="reset{{element.id}}"
                                               onclick="resetChoice('{{element.id}}')">
                                                <span class="remove-smaller-than-small-screen">{% trans "Reset the answer" %}</span>
                                                <i class="fa fa-refresh remove-larger-than-large-screen"></i>
                                            </a>

                                            {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="wrapper">
                                {% if forloop.counter != 1 %}
                                      <div class="margin-right-1em next-element">
                                        <i class="fa fa-arrow-up"
                                           title="{% trans 'Go to the previous evaluation element' %}"
                                           onclick="goPreviousElement({{forloop.counter}})">
                                        </i>
                                      </div>
<!--                             Just to occupy the space   -->
                                {% else %}
                                    <div class="margin-right-1em next-element hidden-div">
                                        <i class="fa fa-arrow-up"></i>
                                    </div>
                                {% endif %}
                                {% if evaluation.organisation|get_role:user == "admin" or evaluation.organisation|get_role:user == "editor" %}
                                    {% if element.has_condition_on and element|is_not_applicable %}
                                        <button class="btn btn-primary validation-button adapted-button-size-250"
                                                disabled
                                                id="validate_{{element.id}}"
                                                type="button">
                                            {% trans "Validate" %}
                                        </button>
                                    {% else %}
                                        <button class="btn btn-primary validation-button adapted-button-size-250"
                                                id="validate{{element.id}}"
                                                onclick="submitForm('form{{element.id}}')" type="button">
                                            {% if element.status %}
                                                {% trans "Modify" %}
                                            {% else %}
                                                {% trans "Validate" %}
                                            {% endif %}
                                        </button>
                                    {% endif %}
                                {% else %}
                                    <button class="btn btn-primary validation-button adapted-button-size-250"
                                            disabled
                                            title="{% trans 'You do not have the right to do this action' %}"
                                            type="button">
                                        {% trans "Validate" %}
                                    </button>
                                {% endif %}
                                {% if forloop.counter != element_list|length %}
                                      <div class="margin-left-1em next-element">
                                        <i class="fa fa-arrow-down"
                                           title="{% trans 'Go to the next evaluation element' %}"
                                           onclick="goNextElement({{forloop.counter}})">
                                        </i>
                                      </div>
                                {% else %}
                                    <div class="margin-left-1em next-element hidden-div">
                                        <i class="fa fa-arrow-down"></i>
                                    </div>
                                  {% endif %}
                            </div>

                            <div class="margin-10" id="confirmationform{{element.id}}"></div>

                            <div class='alert alert-warning' id="warningmessage_temporary{{element.id}}"
                                 style="visibility:hidden; height:1px;">
                                {% blocktrans %}
                                This evaluation element is not applicable due to the answer to this evaluation element
                                {% endblocktrans %} {depends_on_dic|get_item:element}}
                            </div>
                        </form>

                        {% if element.master_evaluation_element.has_resources %}
                            <div class="accordion-resource margin-20" id="accordion-{{element.id}}">
                                <div class="resource-card mb-0">
                                    <div class="card-header collapsed background-white" data-toggle="collapse"
                                         href="#collapse-{{element.id}}">
                                        <a class="card-title">{% trans "Resources" %}</a>
                                    </div>
                                    <div class="card-body collapse" data-parent="#accordion-{{element.id}}"
                                         id="collapse-{{element.id}}">
                                        <form action="{{ section.get_absolute_url }}" id="like_resources{{element.id}}"
                                              method="POST">
                                            {% csrf_token %}
                                            <ul>
                                                {% for resource in element.master_evaluation_element.external_links.all %}
                                                    <div class="grid-container-2-cols">
                                                        <div class="grid-item">
                                                            <li class="list-with-disc margin-10">
                                                                [{{resource.type}}] - {{resource.text|markdownify}}
                                                            </li>
                                                        </div>
                                                        <div class="icon-list">
                                                            {% if not resource in resources_liked %}
                                                                <a name="like" onclick="like(this, {{element.id}}, {{resource.id}})">
                                                                    <i class="fa fa-bookmark-o not-liked"
                                                                       name="resource_not_liked{{resource.id}}"
                                                                       title="{% trans 'Click to like the resource' %}"></i>
                                                                </a>
                                                            {% else %}
                                                                <a name="unlike" onclick="like(this, {{element.id}}, {{resource.id}})">
                                                                    <i class="fa fa-bookmark liked"
                                                                       name="resource_liked{{resource.id}}"
                                                                       title="{% trans 'Click to unlike the resource' %}"></i>
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}

<script>
var coll = document.getElementsByClassName("collapsible-resource");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
