{% load static %}
{% load i18n %}


<div class="modal-header">
    <h4 class="modal-title larger-tablet-absolute-position">{% trans 'Evaluation duplication' %}</h4>
    <button class="close" data-dismiss="modal" type="button">&times;</button>
</div>

<div class="modal-body">
    <p>{% blocktrans trimmed %}
        Do you want to duplicate your evaluation?
        This will create a new evaluation with the same answers and notes than the current one.
       {% endblocktrans %}
    </p>
</div>

<div class="modal-footer self-center">
        <form action="{% url 'assessment:duplicate' evaluation.organisation.id evaluation.slug evaluation.id %}"
              id="duplicate_form{{evaluation.id}}" method="get" class="margin-auto">
            <button class="btn btn-secondary upgrade-button-width margin-auto"
                    onclick="duplicate(event, '{{evaluation.id}}', 'duplicate_form{{evaluation.id}}')"
                    type="submit"
            >{% trans 'Yes' %}
            </button>
        </form>
        <button class="btn btn-danger upgrade-button-width margin-auto" data-dismiss="modal"
                type="button">{% trans 'Cancel' %}
        </button>
</div>

<div class="alert margin-10 display-none alert-warning" id="duplicate-message{{evaluation.id}}">
    <p>{% trans "The duplication is processing. Please wait until it's done." %}</p>
</div>
