{% load static %}
{% load home_tags %}
{% load assessment_tags %}
{% load i18n %}
{% load markdownify %}

<div class="card-header row grid-container-3-cols " id="heading{{element.id}}" >
    <div aria-controls="collapse{{element.id}}"
        aria-expanded="true"
        class="display-line div-button btn-cursor"
        data-target="#collapse{{element.id}}"
        id="collapsible{{element.id}}"
        data-toggle="collapse"
        data-opened-with-pastille ="no"
    >
        <div class="flex">
            <div class="margin-auto">
                <span class="fa-stack-evaluation fa-stack fa-lg"
                    id="element_status_temporary{{element.id}}"
                    style="display: none;"
                    title="">
                </span>
                {% if element.status %}
                    <span class="fa-stack-evaluation fa-stack fa-lg " id="element_status_done{{element.id}}"
                          name="permanent-status-element{{element.id}}"
                          title="{% trans 'You have already answered to this evaluation element' %}">
                        <i class="fa fa-circle fa-stack-2x"></i>
                    </span>

                {% elif not element.status %}
                    {% if element.has_condition_on and element|is_not_applicable %}
                    <span class="fa-stack-evaluation fa-stack fa-lg answer" id="element_status_invalid{{element.id}}"
                          name="permanent-status-element{{element.id}}"
                          title="{% trans 'You are not concerned by this evaluation element due to your answer to this evaluation element' %} {{depends_on_dic|get_item:element}}">
                          <i class="fa fa-circle fa-stack-2x"></i>
                    </span>

                    {% else %}
                        <span class="fa-stack-evaluation fa-stack fa-lg answer" id="element_status_not_done{{element.id}}"
                              name="permanent-status-element{{element.id}}"
                              title="{% trans 'You have not yet answered to this evaluation element' %}">
                              <i class="fa fa-circle-o fa-stack-2x"></i>
                        </span>
                    {% endif %}

                {% endif %}
            </div>

            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button">
                    Q{{section.master_section.order_id}}.{{element.master_evaluation_element.order_id}} :
                    {% if element.master_evaluation_element.name %}
                        {{element.master_evaluation_element.name|markdownify}}
                    {% endif %}
                </button>
            </h2>
         </div>
    </div>

    <div class="">
        {% if element.get_element_change_log %}
            {% if element.is_change_log_visible %}
                <div>
                {% if element.get_change_log_pastille == "New" or element.get_change_log_pastille == "Nouveau" %}
                    <div class="new-pastille pastille-tip"
                         >
                        <span>{{ element.get_change_log_pastille }}</span>
                        {% if element.get_change_log_edito %}
                            <div
                                class="help-tip-edito new-edito-color larger-tablet-absolute-position"
                                onmouseover="displayElementCard('collapsible{{element.id}}', 'collapse{{element.id}}')"
                                onmouseleave="hideElementCard('collapsible{{element.id}}', 'collapse{{element.id}}')"
                               >
                                <p>{{ element.get_change_log_edito }}</p>
                            </div>
                        {% endif %}
                    </div>
                {% elif element.get_change_log_pastille == "Updated" or element.get_change_log_pastille == "Mis à jour" %}
                    <div class="updated-pastille pastille-tip">
                        <span>{{ element.get_change_log_pastille }}</span>
                        {% if element.get_change_log_edito %}
                            <div
                                class="help-tip-edito updated-edito-color larger-tablet-absolute-position"
                                onmouseover="displayElementCard('collapsible{{element.id}}', 'collapse{{element.id}}')"
                                onmouseleave="hideElementCard('collapsible{{element.id}}', 'collapse{{element.id}}')"
                                >
                                <p>{{ element.get_change_log_edito }}</p>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="unchanged-pastille">
                        {{element.get_change_log_pastille}}
                    </div>
                {% endif %}
                </div>
            {% else %}
            <div></div>
            {% endif %}
        {% else %}
            <div></div>
        {% endif %}
        </div>

    {% include "assessment/element-feedback.html" %}

</div>