{% extends 'base-evaluation.html' %}
{% load static %}
{% load assessment_tags %}
{% load i18n %}

{% block content %}

<div class="breadcrumbs larger-small-screen-margin-left-18vw">
    <a href="{% url 'home:user-profile' %}">{% trans 'Dashboard' %}</a>
    <span> ></span>
    <a href="{% url 'assessment:orga-summary' evaluation.organisation.id %}">{% trans 'Organisation' %}</a>
    <span> ></span>
    <a href="{{ evaluation.get_absolute_url }}">{% trans 'Evaluation' %}</a>
    <span> ></span>
    <a class="active-breadcrumb" href="#">{% trans 'Section' %} {{ page_obj.number }}</a>
</div>

{% if evaluation.is_upgradable %}
<div class="upgrade-banner-section-evaluation larger-small-screen-margin-left-18vw">
    {% include "assessment/upgrade-banner.html" %}
</div>
{% endif %}

{% if platform_management.platform_update %}
    <div class="sidenav remove-smaller-than-tablet margin-50">
        {% include "assessment/sidebar.html" %}
    </div>
{% else %}
    <div class="sidenav remove-smaller-than-tablet">
        {% include "assessment/sidebar.html" %}
    </div>
{% endif %}

<div class="main content-section">
    <div id="content-section">
        {% include "assessment/section-answers/content-section.html" %}
    </div>

    <div class="pagination margin-bot-30 ">
        {% include "assessment/pagination.html" %}
    </div>
    <div class="tablet-max-center">
        <form action="{{ evaluation.get_absolute_url }}">
            <input class="btn btn-primary float-left-larger-small-screen same-size-250"
                   type="submit"
                   value="{% trans 'Back to the sections page' %}"/>
        </form>

        <div id="validation evaluation">
            <form action="{% url 'assessment:results' organisation.id evaluation.slug evaluation.id %}"
                  style="display: none" id="temp-validation-button">
                  <input class="btn btn-results float-right-larger-small-screen same-size-250
                         smaller-tablet-margin-10"
                         type="submit"
                         value="{% trans 'Validate and see the results' %}"/>
            </form>

            {% if evaluation.is_finished %}
            <div>
                <form action="{% url 'assessment:results' organisation.id evaluation.slug evaluation.id %}">
                    <input class="btn btn-results float-right-larger-small-screen validation-button same-size-250
                                  smaller-tablet-margin-10"
                           name="validation-button"
                           type="submit"
                           value="{% trans 'Validate and see the results' %}"/>
                </form>
            </div>

            {% else %}
            <form action="{% url 'assessment:results' organisation.id evaluation.slug evaluation.id %}">
                <input alt="{% trans 'Please finish the evaluation before validating it' %}"
                       class="btn btn-results float-right-larger-small-screen same-size-250
                              smaller-tablet-margin-10"
                       disabled
                       name="validation-button"
                       title="{% trans 'Please finish the evaluation before validating it' %}"
                       type="submit"
                       value="{% trans 'Validate and see the results' %}"/>
            </form>
            {% endif %}

        </div>
    </div>

</div>

{% endblock %}



