{% extends 'base-evaluation.html' %}
{% load static %}
{% load add_attr %}
{% load i18n %}

{% block content %}

<div class="breadcrumbs">
    <a href="{% url 'home:user-profile' %}">{% trans 'Dashboard' %}</a>
    <span> ></span>
    <a href="{% url 'assessment:orga-summary' evaluation.organisation.id %}">{% trans 'Organisation' %}</a>
    <span> ></span>
    <a href="{{ evaluation.get_absolute_url }}">{% trans 'Evaluation' %}</a>
    <span> ></span>
    <a href="#" class="active-breadcrumb">{% trans 'Section' %}</a>
</div>

{% if evaluation.is_upgradable %}
<div class="section-banner">
    {% include "assessment/upgrade-banner.html" %}
</div>
{% endif %}

<div id="mySidenav" class="sidenav">
    {% include "assessment/sidebar.html" %}
</div>



<div class="main">
    <div id="content-section">
        {% include "assessment/content-section.html" %}
    </div>

    <div class="pagination margin-bot-30 ">
        {% include "assessment/pagination.html" %}
    </div>

    <form action="{{ evaluation.get_absolute_url }}">
        <input type="submit" value="{% trans 'Back to the sections page' %}" class="btn btn-primary float-left"/>
    </form>

    <div id="validation evaluation" >

        <a id="temp-validation-button" class="btn btn-primary float-right display-none"
                href="{% url 'assessment:results' organisation.id evaluation.slug evaluation.id %}"
             >{% trans 'Validate and see the results' %}</a>

        {% if evaluation.is_finished %}
        <div>
        <form action="{% url 'assessment:results' organisation.id evaluation.slug evaluation.id %}">
            <input type="submit" value="{% trans 'Validate and see the results' %}"
                   class="btn btn-primary float-right validation-button"
                    name="validation-button"/>
        </form>
        </div>

        {% else %}
        <form action="{% url 'assessment:results' organisation.id evaluation.slug evaluation.id %}">
            <input type="submit" value="{% trans 'Validate and see the results' %}" disabled="true"
                   alt="{% trans 'Please finish the evaluation before validating it' %}"
                   title="{% trans 'Please finish the evaluation before validating it' %}"
                   name="validation-button"
                   class="btn btn-primary float-right "/>
        </form>
        {% endif %}

    </div>

</div>

{% endblock %}



