{% load static %}
{% load i18n %}


<div class="modal-header">
    <h4 class="modal-title larger-tablet-absolute-position">{% trans 'Upgrade the evaluation' %}</h4>
    <button class="close" data-dismiss="modal" type="button">&times;</button>
</div>

<div class="modal-body">
    <p>{% blocktrans trimmed %}
        Do you want to upgrade your evaluation to the latest version? Your answers and your notes will
        be transferred to the new evaluation. This evaluation won't be deleted by the process.
       {% endblocktrans %}
    </p>
</div>

<div class="modal-footer one-column">
    <div class="column center">
        <form action="{% url 'assessment:upgrade' evaluation.organisation.id evaluation.slug evaluation.id %}"
              id="upgrade_form{{evaluation.id}}" method="get">
            <button class="btn btn-primary same-size-250 margin-auto"
                    onclick="upgrade('modal-upgrade-eval{{evaluation.id}}', 'upgrade_form{{evaluation.id}}', '{{evaluation.id}}')"
                    type="submit"
            >{% trans 'Yes' %}
            </button>
        </form>
        <button class="btn btn-danger same-size-250 margin-10" data-dismiss="modal"
                type="button">{% trans 'Cancel' %}
        </button>
    </div>
</div>

<div class="alert margin-10 display-none" id="upgrade_message{{evaluation.id}}">
    <p id="upgrade_message_text{{evaluation.id}}"></p>
</div>
