{% load static %}
{% load i18n %}
{% load home_tags %}

<header class="upgrade-banner" role="banner">
    {% trans "Your evaluation version is not up to date. Do you want to" %}
    {% if evaluation.organisation|get_role:user == "admin" or evaluation.organisation|get_role:user == "editor" %}
    <a data-target="#modal-upgrade-eval{{evaluation.id}}" data-toggle="modal" href="#">
        {% trans " upgrade" %}
    </a>
    {% else %}
    <a href="#" title="{% trans ' You do not have the right to do this action' %}">
        {% trans " upgrade" %}
    </a>
    {% endif %}
    {% trans "? Your answers will be preserved." %}

</header>

<div aria-hidden="true" class="modal" data-backdrop="static"
     data-keyboard="false" id="modal-upgrade-eval{{evaluation.id}}">
    <div class="modal-dialog">
        <div class="modal-content">

            {% include "assessment/upgrade-modal.html" %}

        </div>
    </div>
</div>
