# Rename this file to .env.dev

# Django configuration
SECRET_KEY=<CHANGE_ME>
DJANGO_ALLOWED_HOSTS=["*"]
DJANGO_SETTINGS_MODULE=dev_platform.settings

# Database configuration
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=platform_db
SQL_USER=postgres
SQL_PASSWORD=1236
SQL_HOST=db
SQL_PORT=5432

DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1236
POSTGRES_DB=platform_db

# Gitlab issue tracker / Feedback
PRIVATE_TOKEN=<CHANGE_ME> # https://framagit.org/substra-foundation/pf-assessment-dsrc/-/settings/access_tokens
PROJECT_ID=65925 # https://framagit.org/substra-foundation/pf-assessment-dsrc/-/issues


