{% load static %}
{% load i18n %}


<div class="modal-header">
    <h4 class="modal-title larger-tablet-absolute-position">{% trans 'Validate the labelling' %}</h4>
    <button class="close" data-dismiss="modal" type="button">&times;</button>
</div>

<div class="modal-body">
    <p>{% blocktrans trimmed %}
        Are you sure you want to validate the labelling for the evaluation?
       {% endblocktrans %}
    </p>
</div>

<div class="modal-footer self-center">
        <form action="{% url 'assessment:end-labelling' labelling.evaluation.organisation.id labelling.evaluation.slug labelling.evaluation.id 'validation' %}"
            method="get" class="margin-auto">
            <button class="btn btn-secondary upgrade-button-width margin-auto"
                    type="submit"
            >{% trans 'Yes' %}
            </button>
        </form>
        <button class="btn btn-danger upgrade-button-width margin-auto" data-dismiss="modal"
                type="button">{% trans 'Cancel' %}
        </button>
</div>