body{
    font-family: Ubuntu;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2em;
/*    color: #4b6073;*/
    color :  #4D566B;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-platform{
    max-width: max-content;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 15px;
    padding-left: 15px;

}

.blue-color{
    color: #007BFF;
}

/***** GLOBAL PROPERTIES *****/

.display-none{
    display: none;
}

h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #1962E5;
    position:relative;
    font-size: 2rem;
}

select {
    min-height: 30px;
    border-radius: 0.25em;
    border: 1px solid lightsteelblue;
}
input {
    border-radius: 0.25em;
    border: 1px solid lightsteelblue;
    max-width: -webkit-fill-available;
}

a {
    color: #5550ff;
}

a:hover {
    color: #8985FF;
    text-decoration: underline;
}

.hidden-div{
    visibility: hidden;
}

.margin-10 {
    margin-top: 10px;
}
.margin-50 {
    margin-top: 50px;
}
.margin-70 {
    margin-top: 70px;
}

.margin-110{
    margin-top: 110px;
}

.margin-150 {
    margin-top: 150px;
}

.margin-bot-top-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-auto{
    margin: auto;
}

.margin-left-signup{
    margin-left: 10%;
}

.center{
    text-align: center;
}

.same-size-220{
    width: 220px;
}

.same-size-250{
    width: 250px;
}

.same-size-280{
    width: 280px;
}

.width-35{
    width: 35%
}

.full-width{
    width: 100%;
}

.absolute-position{
    position: absolute;
}

/***** END GLOBAL PROPERTIES *****/

#page-container {  /* check if used */
    flex: auto;
}

/****** BETA BANNER ******/

.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#FF7364 0%, #CF5D51 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

/****** END BETA BANNER *******/


#content-wrap {
  padding-bottom: 10rem;    /* Footer height */  /* check if used */
}

/***** NAVBAR *****/

.navbar {
    margin-bottom: 60px;
    border-bottom: solid lightgrey
}

.topnav .icon {
  display: none;
}

.logo-navbar{
    height: 50px;
     width: 150px;
}

.navbar-item a{
    color: #5550FF;
    font-size: 16px;
}

body.navbar-is-fixed-top {
    padding-top: 0 !important;
}

.title-nav{
    margin: 20px;
    font-size: 18px;
}

.center-nav{
    justify-content: center;
}

.navbar-nav .nav-link{
    float: right;
}

.icon-navbar{
    border: solid 2px lightgrey;
}

.fa-bars{
    color: #5550ff;
}

/******* END NAVBAR ********/

.evaluation-title {
    text-align: center;
    margin: 0 auto;
    position:relative;
}

.column{
    float: left;
    padding: 10px;
    flex: 1;
}

.center-content{
    align-self: center;
}

.homepage-banner{
    color: white;
    background-color: #5550FF;
    padding: 15px;
    text-align: center;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.data{
    max-width: 45em;
    margin-top: 50px;
}

.about-subtitle{
    color: #6c7b89;
    font-size: 17px;
    text-align: center;
    margin-block-start: 1em;
    font-weight: 700;
    margin-block-end: 1em;
    margin-top: 50px;
}
/******** FOOTER *********/

.footer {
    flex-shrink: 0;
    background-color: #5550FF;
    text-align: center;
}

.link-with-border{
    color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 2px;
}

.link-with-border:hover {
    border-bottom-color: white;
    color: white;
    text-decoration: none;
}

.fa-icon-footer{
  padding: 10px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;

}

.fa-icon-footer:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github{
    background: #495057;
    color: white;
}

.fa-envelope{
    background: #222;
    color: white;
}

.col-md-3-footer{
    padding: 4px;
}

/********* END FOOTER *********/

/******** LIST *********/

.li-with-disc{
    list-style-type: disc;
}

.li-with-circle{
    list-style-type: circle;
}

li {
    list-style-type: none;
}

/* By default, the list has no style type - used for the choices of an evaluation element */
.list-with-disc{
    list-style-type: disc;
}

.icon-list{
    float: right;
    border-top:0px;
    background-color: white;
    margin: auto;
}

/********* END LIST *********/

.grid-container-2-cols {
  display: grid;
  grid-template-columns: 95% 5%;
}

.grid-container-2-cols-signup {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: auto;
}

.grid-2-cols-tooltip {
  display: grid;
  grid-template-columns: 60% 40%;
}

.grid-container-3-cols-signup {
  display: grid;
  grid-template-columns: 45% 45% 10%;
}

.grid-container-3-cols{
    display: grid;
    grid-template-columns: 75% 15% 8%;;
}

.grid-container-feedback-section {
  display: grid;
  grid-template-columns: 90% 10%;
}

.progress-bar-text{
    margin: auto;
    font-size: 10px;
    color: #22242B;
}

/* Need to create special class for the sections in the resource list because no href to not reload the page */
.fake-link {
    color: #5752ff;
}

.fake-link:hover {
    color: #8985FF;
    text-decoration: underline;
    cursor: pointer;
}

div.page-header {
}


h1 img {
    height: 80px;
     width: 200px;
  }


.pagination {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  width: 100%;
}

.form-input input{
    border-radius: 0.25em;
    border-color: lightsteelblue;
    width: 90%;
}

.pagination a{
    left:50px;
}


.upgrade-banner{
    background-color: #FFF9C0;
    text-align: center;
    margin-left: 10%;
    padding-bottom: 12px;
    padding-top: 12px;
}

.section-banner{
    margin-left: 5%;
}

/******** BUTTONS *********/

.column-button{
    padding-bottom: 3px;
}

.btn-primary{
/*    background-color: #FFBE3C;
    border-color: #FFBE3C;*/
    background-color : #FCE180;
    border-color: #FCE180;
    color: #4D566B;
}

.btn-primary:hover {
    background-color: #FAE8A7;
    border-color: #FAE8A7;
    color: #70788B;
}

.btn-modify{
    background-color: #5550FF;
    border-color: #5550FF;
    color: white;
}

.btn-modify:hover{
    color: white;
    background-color: #726EF5;
    border-color: #726EF5;
}

.btn-results{
    background-color: #00C292;
    border-color: #00C292;
    color: white;
}

.btn-results:hover{
    color: white;
    background-color: #0DE1AC;
    border-color: #0DE1AC;
}

.btn-primary:active{
    background-color: #5550FF;
}

.btn-primary:disabled{
    background-color: #FAE8A7;
    border-color: #FAE8A7;
    color: #70788B;
}

.bottom-page-button{  /* not sure it is still used*/
    margin-top: 20px;
    margin-bottom: 100px;
}

.center-button{
    align-item: center;
}

.btn-blue{
    background-color: #91D3FF;
    border-color: #91D3FF;
    color: #4D566B;
}

.btn-blue:hover{
   background-color: #B8DFFA;
   border-color: #B8DFFA;
   color: #70788B;
}

/* button in the profile and the organisation column */
.profile-column{
    background-color: #FCE180;
    border-color: #FCE180;
    color: #4D566B;
    padding: 20px;
    border-radius: .10rem;
}

a[name="column-button"].nav-link.active{
    background-color: #91D3FF;
    border-color: #91D3FF;
    color: #4D566B;
}

a[name="column-button"]:hover{
    background-color: #FAE8A7;
    border-color: #FAE8A7;
    color: #4D566B;
}

.btn-new{
    background-color: #FFF9C0;
    border-color: #FFF9C0;
    color: #848482;
    height: 30px;
    width: 60px;
    font-size: 18px;
    padding: 0;
    border-radius: .25rem;
    border: 1px solid transparent;
}

.btn-new:hover{
    cursor: default;
}

.top-section{
    margin-left: 50%;
    margin-top: 5px;
    position: absolute;
}

.medium-button{
    width: 105px;
}

/***** END BUTTONS *****/

/***** PROGRESS BAR *****/

.progress-section{
    height: 15px;
    width: 50%;
    margin: auto;
}

.progress-bar-section{
    background-color: #28a745;
}

/***** END PROGRESS BAR *****/

/****** BREADCRUMBS *******/

.breadcrumbs{
    font-size: 16px;
    margin-top: -30px;
}

.active-breadcrumb{
    color: #8985FF;
}

.active-breadcrumb:hover{
    color: #8985FF;
    text-decoration: none;
}

@media screen and (min-width: 1300px) {
    .breadcrumbs {
       margin-left: -150px;
    }
}

/****** END BREADCRUMBS ******/


/****** CARDS ORGA ******/

.cards-orga {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(70px, auto);
}

/****** END CARDS ORGA ******/


.display-line{
    display: flex;
    align-items: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.table-column-profile{
    margin-top: 100px;
    margin-bottom: 50px;
}

.table td{
    padding: 0.5em;
}

tr.spaceUnder>td {
  padding-bottom: 1em;
}

.title-column{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.large-array{
    max-width: min-content;
}

.password-forgotten{
    margin-bottom: 10px;
    font-size: 15px;
}

.title-pills{
    margin: 20px;
}
.color-white{
    color: white;
}
/* When the evaluation is created after the orga in assessment/creation-evaluation.html */

.form-body{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: max-content;
    grid-auto-rows: minmax(70px, auto);
    text-align: left;
}


.margin-right-form{
    margin-right: 9em;
}
/*
.label-create-bis {
    grid-column: 1;
    grid-row: 1;
}*/

.form-center{
    text-align: center;
    text-align: -webkit-center; /* keep only one */
    columns: 1;
    margin: auto;
}

.change-password-form{
    width: 40%;
    columns: 1;
}

.create-form{
    width: 50%;
    columns: 1;
    margin: auto;
    text-align: center;
}

/*
.name-eval-field-bis{
    grid-column: 2;
    grid-row: 1;
}
*/
.text-form-bis {
    grid-column: 1;
    grid-row: 2;
}

.attribute-form-bis{
    grid-column: 2;
    grid-row: 2;

}

.settings-subtitle{
    margin-bottom: 30px;
}

.liked{
    cursor: pointer;
}

.not-liked{
    cursor: pointer;
}

.not-liked:hover {
}

.object-linked:hover .hidden-div {
    visibility: visible;
}

.not-displayed-div{
    displayed: none;
}

.help-tip{
    top: 13%;
    right: 18px;
    text-align: center;
    background-color: #5550FF;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.absolute{
    position: absolute;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip-explanation p{    /* The tooltip */
    display: none;
    text-align: justify;
    background-color: #eaeef0;
    padding: 20px;
    width: 500px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #23272a;
    font-size: 14px;
    line-height: 1.5;
}

.help-tip-right p{    /* The tooltip */
    display: none;
    text-align: justify;
    background-color: #eaeef0;
    padding: 20px;
    width: 300px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #23272a;
    font-size: 14px;
    line-height: 1.5;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#eaeef0;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:5%;
    left:0;
}
.centered-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.middle-width{
    width: 65%;
}

.modal-title{
    position: absolute;
}

/******* MEDIA *******/

@media screen and (min-width: 1200px) {
    .column-right {
       margin-left: -30px;
    }
}

@media screen and (min-width: 768px) {
    .col-md-3-footer {
       margin: auto;
    }
}

@media screen and (min-height: 800px) {
    .content {
       padding-bottom: 500px;
    }
}

@media screen and (max-width: 1130px) {
    .column-right {
        margin: auto;
    }
}

@media (max-width: 1130px) {
    .data {
        margin: auto;
    }
}

@media (max-width: 1030px) {
    .container-platform {
        max-width:1000px;
    }
}


@media (min-width: 780px) {
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (min-width: 780px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
        float: right;
        }
}

@media (min-width: 780px){
    .navbar-expand-lg .navbar-toggler {
        display: none;
        }
}

@media (min-width: 780px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}


/*
@media (min-width: 1030px) {
    .container-platform {
        max-width:1000px;
    }
}
*/
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}