{% load static %}
{% load assessment_tags %}
{% load i18n %}

<!-- Feedback for each evaluation element -->

<a class="feedback" data-target="#modal-feedback-element{{element.id}}" data-toggle="modal"
   href="#" title="{% trans 'You can give a feedback on this evaluation element to the Labelia team.' %}">
    <span class="remove-smaller-380">{% trans "Give a feedback" %}</span>
<!--    <span class="remove-larger-380">{% trans "Feedback" %}</span>-->
    <i class="fa fa-comment-o remove-larger-380 font-25" aria-hidden="true"></i>
</a>

<!-- The Modal create feedback -->

<div aria-hidden="true" class="modal" id="modal-feedback-element{{element.id}}">
    <div class="modal-dialog ">
        <div class="modal-content">

            <form action="" class="form" id="feedback_user_element{{element.id}}" method='post'
                  role="form">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Give a feedback on this element" %}</h4>
                    <button class="close" data-dismiss="modal" type="button"
                            id="close-modal-element{{element.id}}">&times;</button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% for field in element_feedback_form %}
                    <!-- For loop on the only field in the form in order to separate the label and the field for the css grid-->
                    <p class=""> {{field}} </p>
                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary same-size-250 margin-auto"
                            name="button_feedback"
                            onclick="feedback(this, {{element.id}}, 'element')"
                            type="button">{% trans 'Submit' %}
                    </button>
                </div>
                <div id="confirmation_feedback_element{{element.id}}"></div>
            </form>

        </div>
    </div>
</div>

<script>


</script>