{% extends 'base-evaluation.html' %}
{% load static %}
{% load add_attr %}
{% load i18n %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  class="alert-warning ">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  <!-- Header - set the background image for the header in the line below -->
  <header class=" bg-image-full">
    <img class="img-fluid d-block mx-auto" style="max-height: 350px;" src="{% static 'image/Substra foundation_Illustration 3.png' %}" alt="image">
  </header>

  <!-- Content section -->
<!--TODO translate this page-->
  <section class="py-5">
    <div class="container">
      <h1>Data science responsable et de confiance - Référentiel d'évaluation</h1>
      <h3>Contexte, motivations et ambition</h3>
      <p class="description">Un nouvel espace émerge au croisement entre expansion de l'IA dans les organisations et les systèmes automatiques, et inquiétudes du public sur les données privées, la transparence et la robustesse des algorithmes.<br></p>
      <p class="description"> Ce sont deux tendances puissantes qui commencent déjà à se percuter (voir par exemple le cas Apple Card en novembre 2019 ou le formidable article du New York Times en février 2020, An Algorithm that grants Freedom, or Takes it away). Comment les réconcilier, les conjuguer ensemble ? Des solutions techniques et organisationnelles nouvelles sont indispensables pour cela, pour accorder un cadre de confiance qui manque aujourd’hui, pour rendre possible des collaborations nouvelles, prometteuses et sûres entre les entreprises, les institutions publiques et les citoyens.<br></p>
      <p class="description">De nombreux acteurs s'emparent du sujet et travaillent par exemple déjà à des cadres pour un usage à impact positif des technologies d'IA, à des outils pour apporter de la traçabilité aux travaux de data science, à des formations pour éviter la reproduction de biais discriminatoires, à des briques techniques pour permettre la mutualisation et renforcer la confidentialité des données, etc.</p>
      <p class="description">En s'appuyant sur les travaux, cadres et corpus existants, nous proposons de travailler de manière ouverte et collaborative à la définition de ce que serait la data science responsable et de confiance. L'objectif ? Établir ensemble un référentiel open source de bonnes pratiques permettant aux organisations intéressées d'évaluer leur niveau de maturité.</p>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
        <img class="img-fluid d-block mx-auto" style="width:50%; height:300px;" src="{% static 'image/alina-grubnyak-hdpDLIXZg7Y-unsplash.jpg' %}" alt="image">
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1></h1>
      <p class="lead"></p>
      <p></p>
    </div>
  </section>


{% endblock %}
