{% extends 'base-evaluation.html' %}
{% load static %}
{% load add_attr %}
{% load i18n %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  class="alert-warning ">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <div class="row" style="columns: 2">
        <div class="column center-content" >
            <h3 class="center blue-color">Substra Assessment</h3>
            <p class="margin-50">Evaluez le niveau de maturité des pratiques de votre organisation de Data Science Responsable et de Confiance</p>
            <div class="row">
                <a class="btn btn-primary margin-auto margin-50" href="{% url 'home:signup' %}">{% trans "I register" %}</a>
            </div>
        </div>
        <div class="column">
            <img class="img-fluid d-block mx-auto " style="max-height: 350px;" src="{% static 'image/Illustration_3.png' %}" alt="image">
        </div>
    </div>

    <div class="homepage-banner margin-50">
      Entrez dans l'univers de la Data Science Responsable et de Confiance
    </div>

    <div class="row" style="columns: 2">
        <div class="column center-content" >
            <img class="img-fluid d-block mx-auto margin-50" style="max-height: 350px;" src="{% static 'image/Illustration_10.png' %}" alt="image">
            <p class="margin-150">Des solutions techniques et organisationnelles nouvelles sont indispensables pour accorder un cadre de confiance qui manque aujourd'hui et pour rendre possible des collaborations nouvelles, prometteuses et sûres entre les entreprises, les institutions publiques et les citoyens.</p>
            <img class="centered-image middle-width margin-110"  src="{% static 'image/Illustration_1.png' %}" alt="image">
        </div>
        <div class="column center-content">
          <p class="margin-50">Un nouvel espace émerge au croisement entre expansion de l'IA dans les organisations et inquiétudes du public sur les données privées, la transparence et la robustesse des algorithmes. Ce sont deux tendances puissantes qui commencent déjà à se percuter. Comment les réconcilier, les conjuguer ensemble ?</p>
            <img class="img-fluid d-block mx-auto margin-150" style="max-height: 350px;" src="{% static 'image/Illustration_7.png' %}" alt="image">
          <p class="margin-150">En s'appuyant sur les travaux, cadres et corpus existants, nous avons élaboré un référentiel de bonnes pratiques et d'évaluation permettant aux organisations intéressées d'évaluer leur niveau de maturité...</p>
        </div>
    </div>

    <div class="homepage-banner margin-50">
      Evaluez le score de votre organisation dès à présent !
    </div>

    <div class="row" style="columns: 3">
        <div class="column">
            <img class="centered-image middle-width"  src="{% static 'image/picto_homepage_rose.png' %}" alt="image">
            <p class="text-center"><strong>Evaluez votre organisation</strong></p>
            <p class="center">Evaluez dès à présent votre score à partir d'une série de questions autour de 7 thèmes de la Data Science Responsable et de Confiance</p>

        </div>
        <div class="column">
            <img class="centered-image middle-width"  src="{% static 'image/picto_homepage_vert.png' %}" alt="image">
            <p class="text-center"><strong>Améliorez votre scoring</strong></p>
            <p class="center">Analysez votre progression au fil du temps sur les différents axes d'évaluation</p>
        </div>
        <div class="column">
            <img class="centered-image middle-width"  src="{% static 'image/picto_homepage_bleu.png' %}" alt="image">
            <p class="text-center"><strong>Explorez les ressources</strong></p>
            <p class="center">Découvrez les ressources qui vous permettrons de progresser, de découvrir de nouveaux outils et d'apprendre de nouvelles techniques</p>
        </div>

    </div>

<div class="row">
    <a class="btn btn-primary margin-auto" href="{% url 'home:signup' %}">{% trans "I register" %}</a>
</div>

{% endblock %}
