{% extends 'base-evaluation.html' %}
{% load static %}
{% load add_attr %}
{% load i18n %}

{% block content %}

<div class="login container form-center" >
<!--    I don't know why it is not working -> TODO but manage by messages-->
    {% if login_form.errors %}
    <p>{% trans "Your email and password didn't match. Please try again." %}</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "Your account doesn't have access to this page. To proceed,
      please login with an account that has access." %}</p>
    {% else %}
      <p>{% trans "Please login to see this page." %}</p>
    {% endif %}
  {% endif %}



    <form id="user_login_form" method='post' class="form" role="form">
        <div class="header">
            <h1 class="title" >{% trans "Login" %}</h1>

        </div>
        {% if message %}

            <div class="alert {{message|get_key_by_position:0}}">{{message|get_value_by_position:0}} </div>

        {% endif %}
        <div class="body margin-50 ">
            {% csrf_token %}
            <table>
              <tr >
                <td class="margin-50">{{ login_form.username.label_tag }}</td>
              </tr>
                <tr class="spaceUnder">
                    <td class="margin-50">{{ login_form.username }}</td>
                </tr>
              <tr >
                <td class="margin-50">{{ login_form.password.label_tag }}</td>

              </tr>
                <tr class="spaceUnder" >
                    <td class="margin-50">{{ login_form.password }}</td>
                </tr>
            </table>

        </div>
        <div class="margin-50 row" style="columns: 1">
            <div class="column">
                <div>
                    <input type="submit" class="btn btn-primary same-size-280" value="{% trans 'Validate' %}" style="margin: auto" />
                </div>
                <div class="margin-10">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <a class="btn btn-blue same-size-280" type="button"
                         href="{% url 'home:signup' %}">{% trans "I haven't an account" %}</a>
                </div>
            </div>

        </div>
    </form>

    <div class="margin-10 center">
        <a href="{% url 'home:password_reset' %}">{% trans "Forgotten password?" %}</a>
    </div>
</div>

{% endblock content %}