{% load i18n %}

<div class="create-eval-modal">
    {% if login_form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>{% trans "Your account doesn't have access to this page. To proceed,
        please login with an account that has access." %}</p>
    {% else %}
    <p>{% trans "Please login to see this page." %}</p>
    {% endif %}
    {% endif %}
    <form class="form " id="user_login_form" method='post' role="form">
        <div class="modal-header">
            <h4 class="modal-title absolute-position" id="myModalLabel">{% trans "Login" %}</h4>
            <button class="close" data-dismiss="modal" type="button">&times;</button>
        </div>
        <div class="create-form width-50">
            <div class="column">
                {% csrf_token %}
                <span class="margin-right: 9em;">{{ login_form.username.label_tag }}</span>
                <p>{{ login_form.username }}</p>
                <span class="margin-right: 5em;">{{ login_form.password.label_tag }}</span>
                <p>{{ login_form.password }}</p>
                <div class="row padding-1 margin-auto smaller-tablet-place-center">
                    <div>
                        <input class="btn btn-primary adapted-button-size-250" type="submit" value="{% trans 'Validate' %}"/>
                    </div>
                    <div class="margin-10">
                        <input name="next" type="hidden" value="{{ next }}"/>
                        <a class="btn btn-blue adapted-button-size-250" href="{% url 'home:signup' %}" type="button"
                        >{% trans "I haven't an account" %}</a>
                    </div>

                </div>
                <div class="password-forgotten">
                    <a href="{% url 'home:password_reset' %}">{% trans "Forgotten password?" %}</a>
                </div>
            </div>
        </div>
    </form>

</div>
