{% extends 'base-evaluation.html' %}
{% load static %}
{% load assessment_tags %}
{% load i18n %}

{% block content %}

<div class="breadcrumbs column-right-margin-left">
    <a class="active-breadcrumb" href="#">{% trans 'Dashboard' %}</a>
    <span> ></span>
    <a class="active-breadcrumb" href="#" id="active-profile"><span>{% trans "My evaluations" %}</span></a>
</div>

<h1 class="h1-margin-breadcrumbs">{% trans "My dashboard" %} </h1>
{% if messages %}
<ul class="messages margin-3em padding-0-smaller-tablet">
    {% for message in messages %}
    <li class="alert alert-{{ message.tags }} overflow-auto">
        <div>{{ message }}</div>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    <div class="row ">
        <div class="col-ms-3 container-platform column-right column-right-margin-left">
            <ul class="nav nav-pills nav-stacked flex-column table-column-profile" role="tablist">
                <li class="nav-item column-button">
                    <a class="nav-link profile-column active" data-toggle="pill" href="#content-eval"
                       id="tab-eval" name="column-button"
                       onclick="displayTextLink('{% trans 'My evaluations' %}', 'active-profile')"
                    >{% trans "My evaluations" %}</a>
                </li>
                <li class="nav-item column-button">
                    <a class="nav-link profile-column" data-toggle="pill" href="#content-orga"
                       id="tab-orga" name="column-button"
                       onclick="displayTextLink('{% trans 'My organisations' %}', 'active-profile')">
                        {% trans "Organisation" %}</a>
                </li>
                <li class="nav-item column-button">
                    <a class="nav-link profile-column" data-toggle="pill" href="#content-ressource"
                       id="tab-resource" name="column-button"
                       onclick="displayTextLink('{% trans 'My resources' %}', 'active-profile')"
                    >{% trans "My resources" %}</a>
                </li>
                <li class="nav-item column-button">
                    <a class="nav-link profile-column" data-toggle="pill" href="#content-user-notes"
                       id="tab-user-notes" name="column-button"
                       onclick="displayTextLink('{% trans 'My notes' %}', 'active-profile')"
                    >{% trans "My notes" %}</a>
                </li>
                <li class="nav-item column-button">
                    <a class="nav-link profile-column" href="{% url 'home:user-profile-settings'%}"
                       name="column-button">{% trans "User settings" %}</a>
                </li>
                 <li class="nav-item column-button">
                    <a class="nav-link profile-column" data-toggle="pill" href="#content-change-logs"
                       id="tab-change-logs" name="column-button">{% trans "Change logs" %}</a>
                </li>
            </ul>
        </div>
        <div class="data-nav-pills">
            <div class="tab-content">
                <div class="container-profile tab-pane active small-screen-max-center" id="content-eval"><br>
                    {% include "home/profile-user-evaluations.html" %}
                </div>
                <div class="container-profile tab-pane fade small-screen-max-center" id="content-orga">
                    {% include "home/profile-orga-cards.html" %}
                </div>
                <div class="container-profile tab-pane fade" id="content-ressource"><br>
                    {% include "home/profile-my-ressources.html" %}
                </div>
                <div class="container-profile tab-pane fade" id="content-user-notes"><br>
                    {% include "home/profile-user-notes.html" %}
                </div>
                <div class="container-profile tab-pane fade" id="content-change-logs">
                    {% include "home/profile-change-logs.html" %}
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}