{% extends 'base-evaluation.html' %}
{% load static %}
{% load add_attr %}
{% load i18n %}

{% block content %}
<h1>{% trans "Organisation creation" %}</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  class="alert-warning ">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!--If message in context -->
{% if message %}
    <div class="alert {{message|get_key_by_position:0}}">{{message|get_value_by_position:0}} </div>
{% endif %}


<form method="post" id="orga-creation-form">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button id="orga-creation" type="submit" class="btn btn-primary bottom-page-button">{% trans "Create" %}</button>

  </form>

    {% if skip_button %}
        <form action="{% url 'home:user-profile' %}">
            <input  type="submit" class="btn btn-danger bottom-page-button float-right" value="{% trans 'Pass' %}" />
        </form>
    {% else %}
        <form action="{% url 'home:user-profile' %}">
            <input type="submit" class="btn btn-danger bottom-page-button float-right" value="{% trans 'Back' %}" />
        </form>
    {% endif %}

{% endblock %}
