{% load i18n %}

<div class="create-orga-modal">
    <form id="orga-creation-form" method='post' class="form" role="form">
        <div class="modal-header">
            <h4 class="modal-title absolute-position" id="myModalLabel">{% trans "Create a new organisation" %}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body create-form">
            {% csrf_token %}
            <div class="column">
            {% for field in new_orga_form %}
            <!-- For loop on the only field in the form in order to separate the label and the field for the css grid-->
                <span class="float-left">{{ field.label}}</span>
                <p> {{field}} </p>
            {% endfor %}
                </div>

        </div>
        <div class="modal-footer center" style="columns: 1">
            <div class="column">
                <div>
                    <input id="orga-creation" type="submit" class="btn btn-primary same-size-250 margin-auto"
                           value="{% trans 'Create the organisation' %}" style="margin: auto" />
            </div>
                <div class="margin-10">
                    <input type="button" class="btn btn-danger same-size-250 margin-10 margin-auto"
                           data-dismiss="modal" value="{% trans 'Cancel' %}" />
            </div>
                </div>
        </div>
    </form>
</div>

