{% extends 'base-evaluation.html' %}
{% load static %}
{% load add_attr %}
{% load i18n %}

{% block content %}

<div class="breadcrumbs">
    <a href="{% url 'home:user-profile' %}">{% trans 'Dashboard' %}</a>
    <span> ></span>
    <a class="active-breadcrumb" href="#">{% trans 'User settings' %}</a>
    <span> ></span>
    <a class="active-breadcrumb" href="#" id="active-profile-settings"><span>{% trans "My information" %}</span></a>
</div>

<h1 class="h1-margin-breadcrumbs">{% trans "My account" %}</h1>
<div class="container">
    <div class="row ">
        <div class="col-md-3 column-right profile-settings-pills">
            <ul class="nav nav-pills nav-stacked flex-column table-column-profile"
                role="tablist">
                <li class="nav-item column-button">
                    <a class="nav-link profile-column active" data-toggle="pill" href="#content-username"
                       name="column-button"
                       onclick="displayTextLink('{% trans 'My information' %}', 'active-profile-settings')">
                        {% trans "User information" %}
                    </a>
                </li>
                <li class="nav-item column-button">
                    <a class="nav-link profile-column" data-toggle="pill" href="#content-password"
                       name="column-button"
                       onclick="displayTextLink('{% trans 'Password' %}', 'active-profile-settings')"
                    >{% trans "Password" %}</a>
                </li>
                <li class="nav-item column-button">
                    <a class="nav-link profile-column" data-toggle="pill" href="#content-export"
                       name="column-button"
                       onclick="displayTextLink('{% trans 'Data export' %}', 'active-profile-settings')">
                        {% trans "Export personnal data" %}
                    </a>
                </li>

                <li class="nav-item column-button">
                    <a class="nav-link profile-column" data-toggle="pill" href="#content-delete"
                       name="column-button"
                       onclick="displayTextLink('{% trans 'Account deletion' %}', 'active-profile-settings')">
                        {% trans "Delete the account" %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="container tab-pane active" id="content-username"><br>
                    {% include "home/settings-data.html" %}
                </div>
                <div class="container tab-pane fade" id="content-password"><br>
                    {% include "home/settings-password.html" %}
                </div>
                <div class="container tab-pane fade" id="content-export"><br>
                    {% include "home/settings-export-data.html" %}
                </div>
                <div class="container tab-pane fade" id="content-delete"><br>
                    {% include "home/settings-delete.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

<form action="{% url 'home:user-profile' %}"
      class="center-smartphone">
    <input class="btn btn-primary bottom-page-button float-right-larger-tablet same-size-280 " type="submit"
           value="{% trans 'Go back to my dashboard' %}"/>
</form>


{% endblock %}