{% load static %}
{% load assessment_tags %}
{% load i18n %}

{% if last_version %}

{% if evaluations %}
<div class="larger-large-screen-50-top margin-bot-30">
    <a class="btn btn-secondary " data-target="#modal-create-eval" data-toggle="modal"
       href="#">{% trans "Create a new evaluation" %}</a>
</div>

<div id="table-eval-user">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-array" scope="col">{% trans "Evaluation name" %}</th>
            <th class="col-array" scope="col">{% trans "Version" %}</th>
            <th class="col-array" scope="col">{% trans "Organisation" %}</th>
            <th class="col-array" scope="col">{% trans "Creation date" %}</th>
            <th class="col-array" scope="col">{% trans "Validation date" %}</th>
            <th class="col-array" scope="col">{% trans "Progression" %}</th>
            <th class="col-array" scope="col">{% trans "Score" %}</th>
            <th class="col-array" scope="col">{% trans "Status" %}</th>
            <th class="col-array" scope="col">{% trans "Action" %}</th>
            <th class="col-array display-none" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
        <div>
            <tr class="row-array">
                <td class="case-array first-case-array">
                    <div>{{evaluation.name}}</div>
                </td>
                <td class="case-array">V{{evaluation.assessment.version}}</td>
                <td class="case-array">
                    <div>{{evaluation.organisation}}</div>
                </td>
                <td class="case-array">{{evaluation.created_at|format_date_calendar}}</td>

                {% if evaluation.is_finished %}
                <td class="case-array">{{evaluation.finished_at|format_date_calendar}}</td>
                {% else %}
                <td class="case-array">{% trans "Not validated yet" %}</td>
                {% endif %}

                <td class="case-array">{{evaluation.calculate_progression}} %</td>

                {% if evaluation.is_finished %}
                <td class="case-array">{{evaluation_score_dic|get_item:evaluation.id}}</td>
                {% else %}
                <td class="case-array">-</td>
                {% endif %}
                <!-- Status -->
                {% if not evaluation.is_finished %}
                <td class="case-array">{% trans 'In progress' %}</td>
                {% else %}
                    {% if evaluation.has_labelling and evaluation.labelling.status == 'progress' %}
                        <td class="case-array">{% trans 'Labelling in progress' %}</td>
                    {% elif evaluation.has_labelling and evaluation.labelling.status == 'justification' %}
                        <td class="case-array">{% trans 'Justification required' %}</td>
                    {% elif evaluation.has_labelling and evaluation.labelling.status == 'refused' %}
                        <td class="case-array">{% trans 'Completed, labelling refused' %}</td>
                    {% elif evaluation.has_labelling and evaluation.labelling.status == 'labelled' %}
                        <td class="case-array">{% trans 'Labelled' %}</td>
                    {% else %}
                        <td class="case-array">{% trans 'Completed' %}</td>
                    {% endif %}
                {% endif %}

                <!-- Action column-->
                <td class="case-array last-case-array">
                    <!-- Special case when labelling at status justification as eval completed but no result button -->
                    {% if evaluation.labelling.status == "justification" %}
                        <a class="btn btn-primary medium-button margin-10" href="{{ evaluation.get_absolute_url}}">
                            {% trans "Modify" %}
                        </a>
                    <a class="btn btn-secondary medium-button margin-10" onclick="duplicate"
                           data-target="#modal-duplicate-eval{{evaluation.id}}" data-toggle="modal" href="#">
                        {% trans "Duplicate" %}
                    </a>
                    {% else %}
                        {% if evaluation.is_editable %}
                            <!-- Actions buttons -->
                            {% if evaluation.is_upgradable %}
                            <a class="btn btn-secondary medium-button margin-10"
                               data-target="#modal-upgrade-eval{{evaluation.id}}"
                               data-toggle="modal"
                               href="#">
                                {% trans "Upgrade" %}
                            </a>
                            {% endif %}
                            <!-- If the evaluation is finished  -->
                            {% if evaluation.is_finished %}
                            <a class="btn btn-results medium-button margin-10"
                               href="{% url 'assessment:results' evaluation.organisation.id evaluation.slug evaluation.id %}"
                               name="resultat-no-modif">
                                {% trans "Results" %}
                            </a>
                            <a class="btn btn-primary medium-button margin-10" href="{{ evaluation.get_absolute_url}}">
                                {% trans "Modify" %}
                            </a>
                            {% else %}
                            <a class="btn btn-primary medium-button margin-10" href="{{ evaluation.get_absolute_url}}">
                                {% trans "Continue" %}
                            </a>
                            {% endif %}
                        {% else %}
                            <!-- Evaluation not editable-->
                            {% if evaluation.is_finished %}
                                <a class="btn btn-results medium-button margin-10"
                                   href="{% url 'assessment:results' evaluation.organisation.id evaluation.slug evaluation.id %}"
                                   name="resultat-no-modif">
                                    {% trans "Results" %}
                                </a>
                            {% endif %}
                            <a class="btn btn-secondary medium-button margin-10"
                               onclick="duplicate"
                               data-target="#modal-duplicate-eval{{evaluation.id}}"
                               data-toggle="modal"
                               href="#">
                                    {% trans "Duplicate" %}
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
                <!--  Modal to upgrade for all cases finished/not finished-->
                <div aria-hidden="true" class="modal" data-backdrop="static"
                     data-keyboard="false" id="modal-upgrade-eval{{evaluation.id}}">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            {% include "assessment/upgrade-modal.html" %}
                        </div>
                    </div>
                </div>
                <div aria-hidden="true"
                     class="modal"
                     id="modal-duplicate-eval{{evaluation.id}}"
                     data-backdrop="static"
                     data-keyboard="false"
                >
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            {% include "assessment/duplicate-modal.html" %}
                        </div>
                    </div>
                </div>
                <!-- Hidden case for edit the name and delete the evaluation -->
                {% if evaluation.is_editable and evaluation.is_deleteable %}
                    <td class="div-hidden-icons center" id="div-hidden-icons{{evaluation.id}}">
                        <button class="btn btn-secondary small-btn" data-target="#modal-edit{{evaluation.id}}"
                                data-toggle="modal">
                            <i class="fa fa-edit"></i>
                        </button>
                        <div aria-hidden="true" class="modal" id="modal-edit{{evaluation.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    {% include "assessment/edit-evaluation.html" %}
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-danger small-btn hidden-delete-button"
                                data-target="#modal-delete{{evaluation.id}}"
                                data-toggle="modal">
                            <span class="fa fa-trash"></span>
                        </button>
                        <!-- The Modal delete evaluation -->
                        <!-- The modal is inside the for loop because we need to catch the evaluation id -->
                        <!-- It calls the DeleteEvaluation view -->
                        <div aria-hidden="true" class="modal" id="modal-delete{{evaluation.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    {% include "assessment/deletion-evaluation.html" %}
                                </div>
                            </div>
                        </div>
                    </td>
                {% endif %}
            </tr>
        </div>

        {% endfor %}
        </tbody>
    </table>
</div>


{% else %}

<section class="cards margin-50 same-size-250 margin-auto-max-1130">
    <article class="card text-center ">
        <h5 class="card-title margin-10">{% trans "Create my evaluation" %}</h5>

        <div class="card-body">
            {% if organisations %}
            <a class="btn btn-secondary card-button" data-target="#modal-create-eval"
               data-toggle="modal">{% trans "Create my evaluation" %}</a>
            {% else %}
            <a class="btn btn-secondary card-button"
               href="{% url 'home:orga-creation' %}">{% trans "Create my evaluation" %}</a>
            {% endif %}

        </div>
    </article>

</section>

{% endif %}

<div aria-hidden="true" class="modal" id="modal-create-eval">
    <div class="modal-dialog ">
        <div class="modal-content">

            {% include "home/creation-evaluation-mutli-orga-modal.html" %}

        </div>
    </div>
</div>

{% else %}

<p>{% trans "There is no assessment available." %}</p>

{% endif %}
