{% load i18n %}

{% autoescape off %}
Hello {{ user.get_full_name }},

{% trans "We received a request to reset the password for your account on Substra Foundation for this email address. To initiate the password reset process for your account, click the link below." %}

{{ protocol }}://{{ domain }}{% url 'home:password_reset_confirm' uidb64=uid token=token %}

{% trans "If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead." %}

{% trans "Sincerely," %}
{% trans "The Substra Foundation Team" %}
{% endautoescape %}