{% extends 'base-evaluation.html' %}
{% load i18n %}

{% block content %}
<div class="evaluation-title container">
    <p>
        {% blocktrans %}
        We've emailed you instructions for setting your password, if an account exists with the email you
        entered.
        {% endblocktrans %}
        {% trans "You should receive them shortly." %}
    </p>
    <p>
        {% blocktrans %}
        If you don't receive an email, please make sure you've entered the address you registered with, and
        check your spam folder.
        {% endblocktrans %}
    </p>
</div>

{% endblock %}