{% extends 'base-evaluation.html' %}
{% load i18n %}

{% block content %}

<head>
    <title>{% trans 'Substra assessment: Forgotten password' %}</title>
    <meta name="description"
          content="{% blocktrans trimmed %}
           Reset the password of your substra account.
          {% endblocktrans %}"
    />
</head>


<div class="container evaluation-title">
    <h3 class="title-pills">{% trans "Forgotten password" %}</h3>
    <form class="margin-50" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="margin-50">
            <button class="btn btn-primary"
                    type="submit">{% trans "Reset" %}</button>
            <a class="btn btn-danger" href="{% url 'home:user-profile-settings' %}">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>

{% endblock %}

