{% load static %}
{% load add_attr %}
{% load home_tags %}
{% load i18n %}

<div class="create-eval-modal">
    <form method='post' class="form" role="form" id="send_invitation_form"
          action="{% url 'assessment:orga-summary' organisation.id %}">
        <div class="modal-header">
            <h4 class="modal-title absolute-position" id="myModalLabel">{% trans "Add a new member to the organisation" %}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body margin-auto">
            <p>{% trans "You can send an invitation to another user to join your organisation. The user must have an account with his email address on the platform." %}
            </p>
            <p>{% trans "You can chose the rights you want to give to the user:" %}</p>
            <ul>
                <li class="li-with-disc">{% trans "<strong>Simple user</strong>: the user can only consult the evaluations, he cannot create, edit or delete one." %}</li>
                <li class="li-with-disc">{% trans "<strong>Editor</strong>: the user can create, modify or delete evaluations." %}</li>
                <li class="li-with-disc">{% trans "<strong>Admin</strong>: the user can create, modify or delete evaluations. He also can edit rights of other members and add/remove users to the organisation." %}</li>
            </ul>
            <p>{% trans "<strong>Note that you cannot remove an user with admin rights from the organisation, neither change its rights. It is recommended to add user with edit rights</strong>." %}</p>
            <div class="create-form">
                <div class="column">
                    <div>
                    {% csrf_token %}
                    {% for field in add_member_form %}
                    <!-- For loop on the only field in the form in order to separate the label and the field for the css grid-->
                        <span class="float-left">{{ field.label}}</span>
                        <p> {{field}} </p>
                    {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer center one-column">
            <div class="column">
                <div>
                    <button class="btn btn-primary same-size-250 margin-auto" type="button" id="sendInvitationButton"
                        onclick="send_invitation('send_invitation_form')" >{% trans 'Send the invitation' %}
                    </button>
                </div>
                <div class="margin-10">
                    <input type="button" class="btn btn-danger same-size-250 margin-auto" data-dismiss="modal"
                        value="{% trans 'Cancel' %}"/>
                </div>
            </div>
        </div>
        <div id="confirmationInvitation"></div>
    </form>
</div>

