{% load i18n %}
{% load add_attr %}
{% load static %}

<div>
  <form  method='post' class="form" role="form" id="editRoleMember{{member.id}}"
        action="{% url 'assessment:orga-summary' organisation.id %}">
    <div class="modal-header">
        <h4 class="modal-title absolute-position" >{% trans "Edit the rights of" %} {{member.user.email}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        <div class="modal-body">
            <p>{% trans "You can edit the rights of the members, except those who are 'admin':" %}</p>
            <ul>
                <li class="li-with-disc">{% trans "<strong>Read-only user</strong>: the read-only user can only consult the evaluations, he cannot create, edit or delete one." %}</li>
                <li class="li-with-disc">{% trans "<strong>Editor</strong>: the editor can create, modify and delete evaluations" %}</li>
                <li class="li-with-disc">{% trans "<strong>Admin</strong>: the admin user can create, modify and delete evaluations and members." %}</li>
            </ul>
            <p>{% trans "Note that you cannot remove an user with admin rights from the organisation." %}</p>
            {% csrf_token %}
            <div class="create-form width-35">
                <div class="full-width padding-1">
                    <div>
                        {% with edit_form=edit_member_role_form_dic|get_item_converted_str:member.id %}
                            {% for field in edit_form %}
                            <!-- For loop on the only field in the form in order to separate the label and the field for the css grid-->
                                <span class="float-left">{{ field.label}}</span>
                                <p > {{field}} </p>
                            {% endfor %}
                         {% endwith %}
                    </div>
                </div>
            </div>
        </div>
      <div class="modal-footer self-center">
          <button onclick="editRoleMember('editRoleMember{{member.id}}', '{{member.id}}', false)"
                  class="btn btn-primary same-size-250 margin-auto margin-10" type="button">
              {% trans "Change" %}
          </button>
          <button type="button" class="btn btn-danger same-size-250 margin-auto right-button"
                data-dismiss="modal">{% trans 'Cancel' %}
          </button>

      </div>
    </form>

</div>